<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title><%= title || 'Members Core' %></title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/joelrrbb/cdn-assets@main/css/layui.css">
</head>
