<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Redes Sociales</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/joelrrbb/cdn-assets@main/css/layui.css">
</head>
<body>

<div class="layui-container" style="margin-top:20px;">
<h2>Supervisores Redes Sociales</h2>
 
<table id="managers-table" lay-filter="managers-table"></table>
</div>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="goHome">
      <i class="layui-icon layui-icon-home layui-font-12"></i> Inicio
    </button>
	<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="addShopper">
      <i class="layui-icon layui-icon-add-1 layui-font-12"></i> Agregar
    </button>
  </div>
</script>

<script type="text/html" id="toolShopper">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="more">Detalles<i class="layui-icon layui-icon-down"></i></a>
  </div>
</script>  

<!-- Switch para ocultar -->
<script type="text/html" id="hiddenTpl">
  <input type="checkbox" 
         lay-skin="switch" 
         lay-text="Sí|No"
         lay-filter="hiddenSwitch"
         data-id="{{d.id}}" 
         {{ (d.is_hidden === 1 || d.is_hidden === true) ? 'checked' : '' }}>
</script>

<script src="https://cdn.jsdelivr.net/gh/joelrrbb/cdn-assets@main/js/layui.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<script>
layui.use(['table', 'form'], function(){
  const table = layui.table;
  const form = layui.form;

  table.getRowData = function (tableId, elem) {
    const index = $(elem).closest('tr').data('index');
    return table.cache[tableId][index] || {};
  };

  table.render({
    elem: '#managers-table',
    url: '/api/managers',
    page: true,
    toolbar: '#toolbarDemo',
	height: 'full-180',
    limits: [10, 20, 30],
    limit: 10,
    parseData: function(res){
      return {
        "code": res.code,
        "msg": res.msg,
        "count": res.count, // El total de la DB (ej: 45)
        "data": res.data    // Los registros de la página (ej: 10)
      };
    },
    cols: [[
      {type: 'checkbox', fixed: 'left'},
      { field:'name', title:'Nombre', width:150, align:'center' },
	  {field:'phone', title:'Teléfono', minWidth:100, align:'center'},
	  { field:'total_miembros', title:'Designados', width:120, align:'center' },
	  {field:'is_hidden', title:'Ocultar', width:80, templet: '#hiddenTpl'},
      { field:'created_at', title:'Creado', width:120, align:'center', templet: d => dayjs(d.created_at).format('YYYY-MM-DD HH:mm') },
      { fixed:'right', title:'Acciones', templet:'#toolShopper' }
    ]],
  });

 // Evento de cambio de switch bloqueado
  form.on('switch(hiddenSwitch)', function(data){
    var id = data.elem.getAttribute('data-id');
    var newValue = data.elem.checked ? 1 : 0;

    axios.post('/api/manager-update-hidden', { id: id, blocked: newValue })
      .then(res => {
        layer.msg('Estado actualizado', { icon: 1 });
      })
      .catch(err => {
        layer.msg('Error al actualizar', { icon: 2 });
        // revertir cambio si falla
        data.elem.checked = !data.elem.checked;
        form.render('checkbox');
      });
  });
  
  // Toolbar
  table.on('toolbar(managers-table)', function(obj){
  if(obj.event === 'goHome'){
    window.location.href = '/';
  } else if(obj.event === 'addShopper'){
    layer.open({
      type: 2, // iframe
      title: 'Agregar clasificador',
      area: ['700px', '300px'],
      content: '/templ/add-manager.html'
    });
  }
});
 
});
</script>

</body>
</html>
